.App {
  text-align: center;
}
main {
  /* background-color: aquamarine; */
  height: 100vh;
}
.breadcrumb {
  font-size: 12px;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}