.App {
  text-align: center;
}
main {
  /* background-color: aquamarine; */
  height: 100vh;
}
.breadcrumb {
  font-size: 12px;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
h1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  padding-bottom: .5rem;
}